@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<table id="example" class="task-list table-striped" style="width: 100%">
    <thead>
        <tr>
            <th>Process ID</th>
            <th><div>Days to DM</div><div>End Date</div></th>
            <th>DM End Date</th>
            <th>Days On Hold</th>
            <th>RSDRA No.</th>
            <th>Source Name</th>
            <th>Workspace</th>
            <th>Task Type</th>
            <th>Task Stage</th>
            <th>Assessor</th>
            <th>Verifier</th>
            <th>Team</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model.Tasks)
        {
            <tr>
                <td>
                    @task.ProcessId
                </td>
                <td>
                    @task.DaysToDmEndDate
                </td>
                <td>
                    @task.DmEndDate.ToShortDateString()
                </td>
                <td>
                    @task.DaysOnHold
                </td>
                <td>
                    @task.RsdraNo
                </td>
                <td>
                    @task.SourceName
                </td>
                <td>
                    @task.Workspace
                </td>
                <td>
                    @task.TaskType
                </td>
                <td>
                    @task.TaskStage
                </td>
                <td>
                    @task.Assessor
                </td>
                <td>
                    @task.Verifier
                </td>
                <td>
                    @task.Team
                </td>
                <td>
                    Cog
                </td>
            </tr>
        }

    </tbody>
</table>

@section Scripts {

    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
}