@using NCNEPortal.Enums
@model NCNEWorkflowDatabase.EF.Models.TaskStage

@if (@Model.Status != NcneTaskStageStatus.Inactive.ToString())
{
    <tr class="workflow-row">
        <td>
            @if (Model.TaskStageTypeId <= (int)NcneTaskStageType.Publication)
            {
                <h4 class="@((Model.Status == NcneTaskStageStatus.Open.ToString()) ? "Inactive" : "")">@Model.TaskStageType.Name</h4>
            }
            else
            {
                <h6 class="@((Model.Status == NcneTaskStageStatus.Open.ToString()) ? "Inactive" : "")">@Model.TaskStageType.Name</h6>
            }
        </td>
        <td>
            @if (Model.Status == NcneTaskStageStatus.InProgress.ToString()
           || Model.Status == NcneTaskStageStatus.Rework.ToString())
            {
                @if (Model.TaskStageTypeId <= (int)NcneTaskStageType.Publication)
                {
                    <div class="status inProgress">
                        <span class="fa fa-edit"> </span>
                        <span>@Model.Status</span>
                    </div>
                }
            }
            else
            {
                @if (Model.Status == NcneTaskStageStatus.Completed.ToString())
                {
                    <div class="status Complete">
                        <span class="fa fa-edit"> </span>
                        <span>@Model.Status</span>
                    </div>
                }

            }
        </td>
        <td>@Model.AssignedUser</td>
        <td id="DtExp-@(Model.TaskStageId)">@Model.DateExpected?.ToString("dd/MM/yyyy")</td>
        <td>@Model.DateCompleted?.ToString("dd/MM/yyyy")</td>
        <td>
            @if (Model.TaskStageTypeId <= (int)NcneTaskStageType.Publication)
            {
                <div class="d-flex justify-content-end align-items-center">
                    <div class="mr-4">
                        <span>Comments</span>
                        <label class="switch ml-1 mb-auto">
                            <input type="checkbox" class="success" id="commentscheck-@(Model.TaskStageId)">
                            <span class="slider commentslider" data-taskstage="@(Model.TaskStageId)" data-processid="@(Model.ProcessId)"></span>
                        </label>
                    </div>
                </div>
            }
            @if (Model.TaskStageTypeId < (int)NcneTaskStageType.Publication)
            {
                @if (Model.Status == NcneTaskStageStatus.InProgress.ToString())
                {
                    <div class="d-flex justify-content-end">
                        @if (@Model.TaskStageType.AllowRework)
                        {
                            <div class="mt-3 mr-3">
                                <button id="btn@(Model.TaskStageId)Rework" class="btn btn-block btn-secondary btn-stage-rework"
                                        data-TaskStageId="@(Model.TaskStageId)" data-ProcessId="@(Model.ProcessId)"
                                        data-StageTypeid="@(Model.TaskStageTypeId)" data-username="@(Model.AssignedUser)"
                                        data-StageName="@(Model.TaskStageType.Name)">
                                    Rework
                                </button>
                            </div>
                        }
                        <div class="mt-3">
                            <button id="btn@(Model.TaskStageId)Complete" class="btn btn-block btn-complete btn-stage-complete"
                                    data-TaskStageId="@(Model.TaskStageId)" data-ProcessId="@(Model.ProcessId)"
                                    data-StageTypeid="@(Model.TaskStageTypeId)" data-username="@(Model.AssignedUser)"
                                    data-StageName="@(Model.TaskStageType.Name)" style="min-width: 139px;">
                                Mark Complete
                            </button>
                        </div>
                    </div>
                }
            }
            else
            {
                @if (Model.TaskStageTypeId == (int)NcneTaskStageType.Publish_Chart)
                {
                    <div class="row align-items-center">
                        <div class="col-8">
                            <button id="btnPublishChartPublishInCaris"
                                    @((Model.Status == NcneTaskStageStatus.InProgress.ToString()) ? "" : " disabled ")
                                    class="btn btn-block btn-primary">
                                Publish in CARIS
                            </button>
                        </div>
                        <div class="col-2 offset-2">
                            <div class="checkbox-wrapper ">
                                <input type="checkbox"
                                       @((Model.Status == NcneTaskStageStatus.Completed.ToString()) ? " checked " : "")
                                       disabled "check@(Model.TaskStageId)">
                                <label for="check@(Model.TaskStageId)"></label>
                            </div>
                        </div>
                    </div>

                }
                else
                {
                    if (Model.TaskStageTypeId != (int)NcneTaskStageType.Publication)
                    {
                        <div class="row align-items-center">
                            <div class="col-2 offset-10">
                                <div class="checkbox-wrapper">
                                    <input type="checkbox"
                                           @((Model.Status == NcneTaskStageStatus.Completed.ToString()) ? " checked " : "")
                                           @((Model.Status == NcneTaskStageStatus.InProgress.ToString()) ? "" : " disabled ")
                                           id="check@(Model.TaskStageId)">
                                    <label for="check@(Model.TaskStageId)"></label>
                                </div>
                            </div>
                        </div>
                    }
                }

            }
        </td>
    </tr>

    @*--- TASK STAGE COMMENTS---*@
    <tr id="comment-@(Model.TaskStageId)" class="collapse hide">

        <td colspan="6" class="pl-3 pr-3">
            <div id="container-@(Model.TaskStageId)" class="container" style="overflow-y: auto; max-height: 150px;">
                @foreach (var comment in Model.TaskStageComment.OrderByDescending(t => t.Created))
                {
                    <div class="row m-3">
                        <div class="col-2">
                            <div>
                                @comment.Created.ToLongDateString()
                            </div>
                            <br />
                            <div>
                                <strong>@comment.Username</strong>
                            </div>
                        </div>
                        <div class="col-10">
                            @comment.Comment
                        </div>
                    </div>
                    <br />
                }
            </div>
            <div class="col text-right">
                <span class="fas fa-comment-alt mr-2"></span>
                <button style="border-color: white; padding-left: 0" class="btn btn-link btnAddcomment" data-taskstage="@(Model.TaskStageId)" data-processid="@(Model.ProcessId)">Add a comment</button>
            </div>

        </td>

    </tr>



}