@using NCNEPortal.Enums
@model NCNEWorkflowDatabase.EF.Models.TaskStage

@if (@Model.Status != NcneTaskStageStatus.Inactive.ToString())
{
    <tr class="workflow-row">
        <td>
            @if (Model.Status == NcneTaskStageStatus.Open.ToString())
            {
                <h4 class="Inactive">@Model.TaskStageType.Name</h4>

            }
            else
            {
                <h4>@Model.TaskStageType.Name</h4>
            }

        </td>
        <td>
            @if (Model.Status == NcneTaskStageStatus.InProgress.ToString())
            {
                <div class="status inProgress">
                    <span class="fa fa-edit"> </span>
                    <span>@Model.Status</span>
                </div>
            }
            else
            {
                @if (Model.Status == NcneTaskStageStatus.Completed.ToString())
                {
                    <div class="status Complete">
                        <span class="fa fa-edit"> </span>
                        <span>@Model.Status</span>
                    </div>
                }

            }
        </td>
        <td>@Model.AssignedUser</td>
        <td>@Model.DateExpected?.ToString("dd/MM/yyyy")</td>
        <td>@Model.DateCompleted?.ToString("dd/MM/yyyy")</td>
        <td>
            <div class="d-flex justify-content-end align-items-center">
                <div class="mr-4">
                    <span>Comments</span>
                    <label class="switch ml-1 mb-auto">
                        <input type="checkbox" class="success" id="commentscheck-@(Model.TaskStageId)">
                        <span class="slider commentslider" data-taskstage="@(Model.TaskStageId)" data-processid="@(Model.ProcessId)"></span>
                    </label>
                </div>
            </div>

            @if (Model.Status == NcneTaskStageStatus.InProgress.ToString())
            {
                <div class="d-flex justify-content-end">
                    @if (@Model.TaskStageType.AllowRework)
                    {
                        <div class="mt-3 mr-3">
                            <button id="btn@(Model.TaskStageId)Rework" class="btn btn-block btn-secondary">Rework</button>
                        </div>
                    }
                    <div class="mt-3">
                        <button id="btn@(Model.TaskStageId)Complete" class="btn btn-block btn-complete" style="min-width: 139px;">Mark Complete</button>
                    </div>
                </div>
            }
        </td>
    </tr>

    @*--- TASK STAGE COMMENTS---*@
    <tr id="comment-@(Model.TaskStageId)" class="collapse hide">

        <td colspan="6" class="pl-3 pr-3">
            <div class="container" style="overflow-y: auto; max-height: 150px;">
                @foreach (var comment in Model.TaskStageComment)
                {
                    <div class="row m-3">
                        <div class="col-2">
                            <div>
                                @comment.Created.ToLongDateString()
                            </div>
                            <br />
                            <div>
                                <strong>@comment.Username</strong>
                            </div>
                        </div>
                        <div class="col-10">
                            @comment.Comment
                        </div>
                    </div>
                    <br />
                }
            </div>
            <div class="col text-right">
                <span class="fas fa-comment-alt mr-2"></span>
                <a href="#">Add a comment</a>
            </div>
        </td>

    </tr>



}