@page

@model Portal.Pages.DbAssessment._DataImpactModel

@{ Layout = null; }

<div class="card mb-4">
    <h6>
        <span>Data Impact</span>
    </h6>
    <div class="col-12">
        <div class="card-body p-0 m-0">
            <div class="row" id="dataImpactContainer">
                <div class="col-12">
                    <div class="form-row justify-content-start mb-0">
                        <div id="usageColumnHeader" class="col-2 p-0 m-0"><label>Usage</label></div>
                        <div id="editedColumnHeader" class="col-1 d-flex justify-content-center align-items-center p-0 m-0"><label>Edited</label></div>
                        <div id="commentsColumnHeader" class="col-5 p-0 m-0"><label>Comments</label></div>
                        <div id="featureSubmittedColumnHeader" class="col-2 d-flex justify-content-center align-items-center p-0 m-0"><label>Features Submitted</label></div>
                        <div id="featureVerifuedColumnHeader" class="col-1 d-flex justify-content-center align-items-center p-0 m-0"><label>Features Verified</label></div>
                    </div>
                </div>
                @foreach (var m in Model.DataImpacts)
                {
                    <div class="col-12 dataImpact">
                        <div class="form-row align-items-center">
                            <div class="col-2 p-0 m-0">
                                @Html.DropDownListFor(model => m.HpdUsageId, Model.Usages, "",
                                    new { @class = "form-control dataImpactUsage", aria_labelledby = "usageColumnHeader" })
                            </div>
                            <div class="col-1 d-flex justify-content-center align-items-center p-0 m-0">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input dataImpactEdited" id="UsageEdited-0" @(m.Edited ? "checked" : "") value="true" aria-labelledby="editedColumnHeader">
                                    <label class="custom-control-label dataImpactEditedLabel"><span class="screen-reader-only">Edited</span></label>
                                </div>
                            </div>
                            <div class="col-5 p-0 m-0">@Html.TextBoxFor(model => m.Comments, new { @class = "form-control dataImpactComments", aria_labelledby = "commentsColumnHeader" })</div>
                            <div class="col-2 d-flex justify-content-center align-items-center p-0 m-0">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input dataImpactFeaturesSubmitted" id="usageFeaturesSubmitted-0" @(m.FeaturesSubmitted ? "checked" : "") value="true" aria-labelledby="featureSubmittedColumnHeader">
                                    <label class="custom-control-label dataImpactFeaturesSubmittedLabel"><span class="screen-reader-only">Feature Submitted</span></label>
                                </div>
                            </div>
                            <div class="col-1 d-flex justify-content-center align-items-center p-0 m-0">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input dataImpactFeaturesVerified" id="usageFeaturesVerified-0" @(m.FeaturesVerified ? "checked" : "") value="true" aria-labelledby="featureVerifuedColumnHeader">
                                    <label class="custom-control-label dataImpactFeaturesVerifiedLabel"><span class="screen-reader-only">Feature Verified</span></label>
                                </div>
                            </div>
                            <div class="col-1 d-flex justify-content-center align-items-center p-0 m-0"><i class="fa fa-times-circle deleteUsage" style="color: red;"></i></div>
                        </div>
                    </div>
                }
            </div>
            <div class="row justify-content-start">
                <div class="col-5"><button id="btnAddUsage" class="btn btn-primary" type="button">Add Usage</button></div>
            </div>
            <hr/>
            <div class="row" id="stsDataImpactContainer">
                <div class="col-12">
                    <div class="form-row justify-content-start mb-0">
                        <div id="stsUsageColumnHeader" class="col-2 p-0 m-0"><label>STS Usage</label></div>
                        <div id="stsEditedColumnHeader" class="col-1 d-flex justify-content-center align-items-center p-0 m-0"><label>@*gone*@</label></div>
                        <div id="stsCommentsColumnHeader" class="col-5 p-0 m-0"><label>Comments</label></div>
                        <div id="stsFeatureSubmittedColumnHeader" class="col-2 d-flex justify-content-center align-items-center p-0 m-0"><label>@*gone*@</label></div>
                        <div id="stsFeatureVerifiedColumnHeader" class="col-1 d-flex justify-content-center align-items-center p-0 m-0"><label>Verified</label></div>
                    </div>
                </div>
                <div id="stsDataImpact" class="col-12">
                    <div class="form-row align-items-center">
                        <div class="col-2 p-0 m-0">
                            @Html.DropDownListFor(model => model.StsDataImpact.HpdUsageId, Model.Usages, "",
                                new { @class = "form-control", aria_labelledby = "stsUsageColumnHeader" })
                        </div>
                        <div class="col-1 d-flex justify-content-center align-items-center p-0 m-0"></div>
                        <div class="col-5 p-0 m-0">
                            @Html.TextBoxFor(model => model.StsDataImpact.Comments, 
                                new {@class = "form-control", aria_labelledby = "stsCommentsColumnHeader"})
                        </div>
                        <div class="col-2 d-flex justify-content-center align-items-center p-0 m-0"></div>
                        <div class="col-1 d-flex justify-content-center align-items-center p-0 m-0">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="StsDataImpact_FeaturesVerified" name="StsDataImpact.FeaturesVerified" @(Model.StsDataImpact.FeaturesVerified ? "checked" : "") value="true" aria-labelledby="stsFeatureVerifiedColumnHeader">
                                <label class="custom-control-label" for="StsDataImpact_FeaturesVerified"><span class="screen-reader-only">Verified</span></label>
                            </div>
                        </div>
                        <div class="col-1 d-flex justify-content-center align-items-center p-0 m-0"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
