@page

@using System.IO
@model Portal.Pages.DbAssessment._EditDatabaseModel

@{ Layout = null; }

@Html.HiddenFor(m => m.IsCarisProjectCreated)
@Html.HiddenFor(m => m.UsagesSelectionPageLength)
@Html.HiddenFor(m => m.SourcesSelectionPageLength)
<div class="card mb-4">
    <h6>
        <span>Edit Database</span>
    </h6>
    <div class="col-12">
        <div class="card-body p-0">
            <div class="row justify-content-between">
                <div class="col-8">
                    <div class="form-row align-items-center justify-content-start">
                        <div class="col-4 align-self-start">@Html.LabelFor(model => model.SelectedCarisWorkspace, new { @class = "col-form-label" })</div>
                        <div class="col-8">
                            <div id="workspacesTypeahead">
                                <div class="text-input-wrap">
                                    <input type="text" asp-for="SelectedCarisWorkspace" class="typeahead tt-query form-text-input" autocomplete="off" spellcheck="false">
                                </div>
                                <section class="dialog error collapse mt-3" id="workspaceTypeaheadError">
                                    <h5>
                                        <i class="fas fa-times-circle" style="font-size: 1.25rem;"></i>
                                        <span>Failed to retrieve list of workspaces from server</span>
                                    </h5>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="form-row align-items-center justify-content-center">
                        <div class="col-4">@Html.LabelFor(model => model.ProjectName, new { @class = "col-form-label" })</div>
                        <div class="col-8">
                            @Html.TextBoxFor(model => model.ProjectName,
                            new { @class = "form-control form-text-input", @disabled = "disabled", @maxlength = Model.CarisProjectNameCharacterLimit })
                        </div>
                    </div>
                    <div class="row justify-content-start">
                        <div class="col-4">
                            <button id="btnCreateCarisProject" type="button" class="btn btn-primary">
                                <span id="createCarisProjectSpinner" class="fas fa-crosshairs fa-spin" style="margin-right: 10px; display: none;"></span>
                                Create CARIS Project
                            </button>
                        </div>
                        <div class="col-8 pl-2">
                            <a id="hdnDownloadLink" hidden></a>
                            <button id="btnOpenLaunchCarisSelectionModal" type="button" class="btn btn-primary">Launch CARIS Source Editor</button>
                        </div>
                    </div>

                    <section id="launchSourceEditorDownloadError" class="dialog error collapse mt-3">
                        <h5>
                            <i class="fas fa-times-circle" style="font-size: 1.25rem;"></i>
                            <span id="launchSourceEditorDownloadErrorMessage">Failed to load Source Documents</span>
                        </h5>
                    </section>

                    <section id="launchSourceEditorDownloadSuccess" class="dialog success collapse mt-3">
                        <h5>
                            <i class="fas fa-check-circle" style="font-size: 1.25rem;"></i>
                            <span>Successfully generated session file</span>
                        </h5>
                    </section>


                    <section id="createCarisProjectError" class="dialog error collapse mt-3">
                        <h5>
                            <i class="fas fa-times-circle" style="font-size: 1.25rem;"></i>
                            <span id="createCarisProjectErrorMessage">Failed to load Source Documents</span>
                        </h5>
                    </section>

                    <section id="createCarisProjectSuccess" class="dialog success collapse mt-3">
                        <h5>
                            <i class="fas fa-check-circle" style="font-size: 1.25rem;"></i>
                            <span>Caris project successfully created</span>
                        </h5>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

@* Modal launch Caris selection *@
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="LaunchCarisSelectionModal" tabindex="-1" role="dialog" aria-label="Launch CARIS Selection Modal Dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Launch CARIS Selection</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-5">
                        <h5>Data Layers</h5>
                        <p>Select data layers</p>
                        <table id="usagesSelection" class="table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th style="width: 300px;"><span class="screen-reader-only">Data Layer Names</span></th>
                                    <th><span class="screen-reader-only">Select Data Layers</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var usageIndex = -1;
                                    foreach (var hpdUsage in Model.HpdUsages.Where(hpdUsage => hpdUsage != "POLAR"))
                                    {
                                        usageIndex++;
                                        var id = $"usageCheckbox{usageIndex}";
                                        <tr>
                                            <td class="hpdUsageName">
                                                @hpdUsage
                                            </td>
                                            <td>
                                                <div class="checkbox-wrapper">
                                                    <input type="checkbox" id="@id" data-usage-name="@hpdUsage">
                                                    <label for="@id">
                                                        <span class="screen-reader-only">Usage</span>
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="col-5 offset-2">
                        <div id="selectedUsagesContainer" class="p-3 mt-5">
                            <p>Your selected data layers</p>
                        </div>
                    </div>
                </div>

                <section id="numberOfSelectedUsagesValidationError" class="dialog error collapse mt-3">
                    <h5>
                        <i class="fas fa-times-circle" style="font-size: 1.25rem;"></i>
                        <span id="numberOfSelectedUsagesValidationErrorMessage">Please select at least one Data Layer before Launching CARIS.</span>
                    </h5>
                </section>

                <hr />
                <div class="row">
                    <div class="col-5">
                        <h5>Sources</h5>
                        <p>Select sources</p>
                        <table id="sourcesSelection" class="table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th style="width: 300px;"><span class="screen-reader-only">Source Names</span></th>
                                    <th><span class="screen-reader-only">Select Sources</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var sourceIndex = -1;
                                    foreach (var source in Model.SourceDocuments)
                                    {
                                        sourceIndex++;
                                        var id = $"sourceCheckbox{sourceIndex}";
                                        <tr>
                                            <td class="sourceDocumentName">
                                                @source.DocumentName
                                            </td>
                                            <td>
                                                <div class="checkbox-wrapper">
                                                    <input type="checkbox" id="@id" data-source-filename="@(source.DocumentName)" data-source-fullfilename="@(source.DocumentFullName)">
                                                    <label for="@id"><span class="screen-reader-only">Source Document Id</span></label>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="col-5 offset-2">
                        <div id="selectedSourcesContainer" class="p-3 mt-5">
                            <p>Your selected sources</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-12">
                    <div class="row">
                        <div class="col-2"><button type="button" id="btnClearLaunchCarisSelections" class="btn btn-outline-secondary btn-block" accesskey="d" data-toggle="tooltip" data-placement="left" title="Clear All">Clear</button></div>
                        <div class="col-2 offset-6"><button type="button" id="btnCancelLaunchCarisSelections" class="btn btn-outline-secondary btn-block" accesskey="c" data-dismiss="modal" data-toggle="tooltip" data-placement="left" title="Cancel Launch Caris Selections">Cancel</button></div>
                        <div class="col-2"><button id="btnLaunchSourceEditorDownload" type="button" data-sessionfilename="@Model.SessionFilename" class="btn btn-primary btn-block">Launch</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
