@using WorkflowDatabase.EF
@model Portal.Pages.DbAssessment._OperatorsModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="card mb-4 mt-3">
    <h6>Operators</h6>

    <div class="col-12">
        <div class="card-body p-2" id="operators">
            <div class="row">
                <div class="operator col-4">
                    <div class="row justify-content-start">
                        <div class="col-3 d-flex justify-content-start pr-0">@Html.LabelFor(model => model.Reviewer, new { @class = "col-form-label" })</div>
                        <div class="col-8">
                            <div class="text-input-wrap">

                                @if (Model.ParentPage == WorkflowStage.Review)
                                {
                                    @Html.TextBoxFor(model => model.Reviewer, "", new { @class = "form-text-input", autocomplete = "off", spellcheck = "false", aria_label = "Reviewer" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(model => model.Reviewer, "", new { @disabled = "disabled", @class = "form-text-input", aria_label = "Reviewer" })
                                }
                            </div>
                        </div>

                    </div>
                </div>
                <div class="operator col-4">
                    <div class="row justify-content-start">
                        <div class="col-3 d-flex justify-content-start pr-0">@Html.LabelFor(model => model.Assessor, new { @class = "col-form-label" })</div>
                        <div class="col-8">
                            <div class="text-input-wrap" >

                                @if (Model.ParentPage == WorkflowStage.Assess)
                                {
                                    @Html.TextBoxFor(model => model.Assessor, "", new { @class = "form-text-input", autocomplete = "off", spellcheck = "false", aria_label = "Assessor" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(model => model.Assessor, "", new { @disabled = "disabled", @class = "form-text-input", aria_label = "Assessor" })
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="operator col-4">
                    <div class="row justify-content-start">
                        <div class="col-3 d-flex justify-content-start pr-0">@Html.LabelFor(model => model.Verifier, new { @class = "col-form-label" })</div>
                        <div class="col-8">
                            <div class="text-input-wrap">

                                @if (Model.ParentPage == WorkflowStage.Assess ||
                                     Model.ParentPage == WorkflowStage.Verify)
                                {
                                    @Html.TextBoxFor(model => model.Verifier, "", new {@class = "form-text-input", autocomplete = "off", spellcheck = "false", aria_label = "Verifier" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(model => model.Verifier, "", new {@disabled = "disabled", @class = "form-text-input", aria_label = "Verifier" })
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row justify-content-start">

                <div id="operatorsErrorMessages" class="dialog error collapse mt-3 pb-1">
                    <h5 class="mb-3">
                        <i class="fas fa-times-circle" style="font-size: 1rem;"></i>
                        <span>There's a problem</span>
                    </h5>
                    <ol id="operatorsErrorList" class="error-list"></ol>
                </div>
            </div>
        </div>
    </div>
</div>
