@model Portal.Pages.DbAssessment._SourceDocumentDetailsModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="card mb-4">
    <h6>Source Document Details</h6>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">RSDRA</th>
                    <th scope="col">SDOC</th>
                    <th scope="col">Source Name</th>
                    <th scope="col">Receipt Date</th>
                    <th scope="col">Document Type</th>
                    <th scope="col">Datum</th>
                    <th scope="col">Type</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @for (int i = 0; i < Model.Assessments.Count; i++)
            {
                var assessment = Model.Assessments[i];
                var childRowsMarker = $"childRows{i + 1}";

                <tr data-toggle="collapse" data-target=".@(childRowsMarker)">
                    <td>@{ if (assessment.LinkedDocuments.Count > 0){ <i class='fa fa-plus' ></i> } }</td>
                    <td>@assessment.RsdraNumber</td>
                    <td id="rows">@assessment.SdocId</td>
                    <td>@assessment.SourceDocumentName</td>
                    <td>@assessment.ReceiptDate</td>
                    <td>@assessment.SourceDocumentType</td>
                    <td>@assessment.Datum</td>
                    <td>@assessment.SourceNature</td>
                    <td><i class="fa fa-times-circle" style="color: red"></i></td>
                </tr>
                foreach (var linkedDocument in assessment.LinkedDocuments)
                {
                    <tr class="collapse @(childRowsMarker)">
                        <td></td>
                        <td></td>
                        <td id="rows">@linkedDocument.SdocId</td>
                        <td>@linkedDocument.SourceDocumentName</td>
                        <td>@linkedDocument.ReceiptDate</td>
                        <td>@linkedDocument.SourceDocumentType</td>
                        <td>@linkedDocument.Datum</td>
                        <td>@linkedDocument.SourceNature</td>
                        <td></td>
                    </tr>

                }

            }
            </tbody>
        </table>
        <button id="btnAddSource" class="btn btn-primary"><span style="padding-right: 5px;"></span>Add Source</button>
    </div>
</div>