@page
@using WorkflowDatabase.EF

@model Portal.Pages.DbAssessment._SourceDocumentDetailsModel

@{ Layout = null; }

<div class="card mb-4">
    <h6>Source Document Details</h6>
    <div class="card-body">
        <table id="srcDocDetailsTable" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">RSDRA</th>
                    <th scope="col">SDOC</th>
                    <th scope="col">Source Name</th>
                    <th scope="col">Receipt Date</th>
                    <th scope="col">Document Type</th>
                    <th scope="col">Datum</th>
                    <th scope="col">Type</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    var childRowsMarker = "childRows1";

                    <tr data-toggle="collapse" data-target=".@(childRowsMarker)">
                        <td>
                            @{
                                if (Model.LinkedDocuments.Any())
                                {
                                    <i class='fa fa-plus'></i>
                                }
                            }
                        </td>
                        <td>
                            @{
                                if (Model.PrimaryDocumentStatus != null && Model.PrimaryDocumentStatus.Status == SourceDocumentRetrievalStatus.Complete.ToString())
                                {
                                    <a href="@Model.PrimaryDocumentContentServiceUri" target="_blank">@Model.Assessment.ParsedRsdraNumber</a>
                                }
                                else
                                {
                                    @Model.Assessment.ParsedRsdraNumber
                                }
                            }
                        </td>
                        <td id="rows">@Model.Assessment.PrimarySdocId</td>
                        <td>@Model.Assessment.SourceDocumentName</td>
                        <td>@Model.Assessment.ReceiptDate</td>
                        <td>@Model.Assessment.SourceDocumentType</td>
                        <td>@Model.Assessment.Datum</td>
                        <td>@Model.Assessment.SourceNature</td>
                        <td></td>
                    </tr>

                    @if (Model.LinkedDocuments != null)
                    {
                        foreach (var linkedDocument in Model.LinkedDocuments)
                        {
                            <tr class="collapse @(childRowsMarker)">
                                <td></td>
                                <td></td>
                                <td id="rows">@linkedDocument.LinkedSdocId</td>
                                <td>@linkedDocument.SourceDocumentName</td>
                                <td>@linkedDocument.ReceiptDate</td>
                                <td>@linkedDocument.SourceDocumentType</td>
                                <td>@linkedDocument.Datum</td>
                                <td>@linkedDocument.SourceNature</td>
                                <td>
                                    @if (linkedDocument.Status == LinkedDocumentRetrievalStatus.NotAttached.ToString())
                                    {
                                        <div class="attachLinkedDocumentButtonContainer">
                                            <a class="attachLinkedDocument" data-linkedSdocId="@linkedDocument.LinkedSdocId" data-processId="@Model.ProcessId" data-correlationId="@Model.PrimaryDocumentStatus.CorrelationId">
                                                <i class="fa fa-paperclip"></i>
                                            </a>
                                        </div>
                                        <div class="attachLinkedDocumentSpinnerContainer">
                                            <div class="spinner-border">
                                            </div>
                                            <i class="fa fa-paperclip"></i>
                                        </div>
                                    }
                                </td>
                            </tr>
                        }
                    }

                    @if (Model.AttachedLinkedDocuments != null)
                    {
                        foreach (var attachedLinkedDocument in Model.AttachedLinkedDocuments)
                        {
                            <tr>
                                <td>
                                </td>
                                <td>
                                    @{
                                        if (attachedLinkedDocument.Status.Equals(LinkedDocumentRetrievalStatus.Complete.ToString(), StringComparison.OrdinalIgnoreCase))
                                        {
                                            <a href="@attachedLinkedDocument.ContentServiceUri" target="_blank">@attachedLinkedDocument.ParsedRsdraNumber</a>
                                        }
                                        else
                                        {
                                            @attachedLinkedDocument.ParsedRsdraNumber
                                        }
                                    }
                                </td>
                                <td id="rows">@attachedLinkedDocument.LinkedSdocId</td>
                                <td>@attachedLinkedDocument.SourceDocumentName</td>
                                <td>@attachedLinkedDocument.ReceiptDate</td>
                                <td>@attachedLinkedDocument.SourceDocumentType</td>
                                <td>@attachedLinkedDocument.Datum</td>
                                <td>@attachedLinkedDocument.SourceNature</td>
                                <td><i class="fa fa-times-circle" style="color: red"></i></td>
                            </tr>
                        }
                    }

                    @if (Model.DatabaseDocuments != null)
                    {
                        foreach (var databaseDocument in Model.DatabaseDocuments)
                        {
                            <tr>
                                <td>
                                </td>
                                <td></td>
                                <td>@databaseDocument.SdocId</td>
                                <td>
                                    @{
                                        if (databaseDocument.Status.Equals(LinkedDocumentRetrievalStatus.Complete.ToString(), StringComparison.OrdinalIgnoreCase))
                                        {
                                            <a href="@databaseDocument.ContentServiceUri" target="_blank"></a>
                                        }
                                        else
                                        {
                                            @databaseDocument.SourceDocumentName
                                        }
                                    }
                                </td>
                                <td></td>
                                <td>@databaseDocument.SourceDocumentType</td>
                                <td></td>
                                <td></td>
                                <td><i class="fa fa-times-circle" style="color: red"></i></td>
                            </tr>
                        }
                    }
                }

            </tbody>
        </table>

        <div id="addDatabaseSourceDocument">
            <h5>Add Source From SDRA</h5>
            <div class="row">
                <div class="col-3">
                    <div class="text-input-wrap">
                        <input id="txtSourceDocumentId" type="text" class="form-text-input" placeholder="SDOC ID" minlength="1" type="number" required>
                    </div>
                </div>
                <div class="col-2">
                    <button id="btnSearchSource" class="btn btn-primary" type="button"><span style="padding-right: 5px;"></span>Search</button>
                </div>
            </div>
            <div id="sourceDocumentsError"></div>
            
            <section class="dialog error collapse mt-3">
                <h5>
                    <i class="fas fa-times-circle" style="font-size: 1.25rem;"></i>
                    <span id="addSourceErrorMessage">Failed to load Source Documents</span>
                </h5>
            </section>
            
            <section class="dialog warning collapse mt-3">
                <h5>
                    <i class="fas fa-times-circle" style="font-size: 1.25rem;"></i>
                    <span id="addSourceWarningMessage">Failed to load Source Documents</span>
                </h5>
            </section>

            <section class="dialog success collapse mt-3">
                <h5>
                    <i class="fas fa-check-circle" style="font-size: 1.25rem;"></i>
                    The following source information was found
                </h5>
                <div class="row">
                    <div class="col-5">
                        <label>Name</label>
                        <div id="addSourceName">asdasdasda</div>
                    </div>
                    <div class="col-2">
                        <label>ID</label>
                        <div id="addSourceSdocId">21323323</div>
                    </div>
                    <div class="col-3">
                        <label>Doc Type</label>
                        <div id="addSourceDocType">Thing</div>
                    </div>
                    <div class="col-2">
                        <button id="btnAddSource" class="btn btn-primary" type="button" data-correlationId="@Model.PrimaryDocumentStatus.CorrelationId"><span style="padding-right: 5px;"></span>Add Source</button>
                    </div>
                </div>
            </section>
        </div>

    </div>
</div>