@page
@using WorkflowDatabase.EF

@model Portal.Pages.DbAssessment._SourceDocumentDetailsModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ Layout = null; }
<style type="text/css">.attachLinkedDocumentWait { }</style>
<div class="card mb-4">
    <h6>Source Document Details</h6>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">RSDRA</th>
                    <th scope="col">SDOC</th>
                    <th scope="col">Source Name</th>
                    <th scope="col">Receipt Date</th>
                    <th scope="col">Document Type</th>
                    <th scope="col">Datum</th>
                    <th scope="col">Type</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    var childRowsMarker = "childRows1";

                    <tr data-toggle="collapse" data-target=".@(childRowsMarker)">
                        <td>
                            @{
                                if (Model.Assessment.LinkedDocuments.Count > 0)
                                {
                                    <i class='fa fa-plus'></i>
                                }
                            }
                        </td>
                        <td>
                            @{
                                if (Model.PrimaryDocumentStatus != null && Model.PrimaryDocumentStatus.Status == SourceDocumentRetrievalStatus.Complete.ToString())
                                {
                                    <a href="@Model.PrimaryDocumentContentServiceUri" target="_blank">@Model.Assessment.ParsedRsdraNumber</a>
                                }
                                else
                                {
                                    @Model.Assessment.ParsedRsdraNumber
                                }
                            }
                        </td>
                        <td id="rows">@Model.Assessment.SdocId</td>
                        <td>@Model.Assessment.SourceDocumentName</td>
                        <td>@Model.Assessment.ReceiptDate</td>
                        <td>@Model.Assessment.SourceDocumentType</td>
                        <td>@Model.Assessment.Datum</td>
                        <td>@Model.Assessment.SourceNature</td>
                        <td></td>
                    </tr>

                    foreach (var linkedDocument in Model.Assessment.LinkedDocuments)
                    {
                        <tr class="collapse @(childRowsMarker)">
                            <td></td>
                            <td></td>
                            <td id="rows">@linkedDocument.LinkedSdocId</td>
                            <td>@linkedDocument.SourceDocumentName</td>
                            <td>@linkedDocument.ReceiptDate</td>
                            <td>@linkedDocument.SourceDocumentType</td>
                            <td>@linkedDocument.Datum</td>
                            <td>@linkedDocument.SourceNature</td>
                            <td>
                                @if (linkedDocument.Status == LinkedDocumentRetrievalStatus.NotAttached.ToString())
                                {
                                    <div class="attachLinkedDocumentButtonContainer">
                                        <a class="attachLinkedDocument" data-linkedSdocId="@linkedDocument.LinkedSdocId">
                                            <i class="fa fa-paperclip"></i>
                                        </a>
                                    </div>
                                    <div class="attachLinkedDocumentSpinnerContainer">
                                        <div class="spinner-border">
                                        </div>
                                        <i class="fa fa-paperclip"></i>
                                    </div>
                                }
                            </td>
                        </tr>
                    }

                    foreach (var attachedLinkedDocument in Model.AttachedLinkedDocuments)
                    {
                        <tr>
                            <td>
                            </td>
                            <td>
                                @{
                                    if (attachedLinkedDocument.Status.Equals(LinkedDocumentRetrievalStatus.Complete.ToString(), StringComparison.OrdinalIgnoreCase))
                                    {
                                        <a href="@attachedLinkedDocument.ContentServiceUri" target="_blank">@attachedLinkedDocument.ParsedRsdraNumber</a>
                                    }
                                    else
                                    {
                                        @attachedLinkedDocument.ParsedRsdraNumber
                                    }
                                }
                            </td>
                            <td id="rows">@attachedLinkedDocument.LinkedSdocId</td>
                            <td>@attachedLinkedDocument.SourceDocumentName</td>
                            <td>@attachedLinkedDocument.ReceiptDate</td>
                            <td>@attachedLinkedDocument.SourceDocumentType</td>
                            <td>@attachedLinkedDocument.Datum</td>
                            <td>@attachedLinkedDocument.SourceNature</td>
                            <td><i class="fa fa-times-circle" style="color: red"></i></td>
                        </tr>
                    }
                }

            </tbody>
        </table>
        <button id="btnAddSource" class="btn btn-primary"><span style="padding-right: 5px;"></span>Add Source</button>
    </div>
</div>