@page
@using WorkflowDatabase.EF

@model Portal.Pages.DbAssessment._SourceDocumentDetailsModel

@{ Layout = null; }

<div class="card mb-4">
    <h6>Source Document Details</h6>
    <div class="card-body">
        <table id="srcDocDetailsTable" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"><span class="screen-reader-only">Expand Linked Documents</span></th>
                    <th scope="col">RSDRA</th>
                    <th scope="col">SDOC</th>
                    <th scope="col">Source Name</th>
                    <th scope="col">Receipt Date</th>
                    <th scope="col">Document Type</th>
                    <th scope="col">Datum</th>
                    <th scope="col">Type</th>
                    <th style="width: 4.5rem"><span class="screen-reader-only">Attach/Remove Documents</span></th>
                </tr>
            </thead>
            <tbody>
                @{
                    var childRowsMarker = "childRows1";

                    <tr data-toggle="collapse" data-target=".@(childRowsMarker)">
                        <td>
                            @{
                                if (Model.LinkedDocuments.Any())
                                {
                                    <i class='fa fa-plus'></i>
                                }
                            }
                        </td>
                        <td>
                            @{
                                if (Model.PrimaryDocumentStatus != null && Model.PrimaryDocumentStatus.Status == SourceDocumentRetrievalStatus.FileGenerated.ToString())
                                {
                                    <a href="@Model.PrimaryDocumentStatus.ContentServiceUri" target="_blank">@Html.DisplayFor(model => model.Assessment.ParsedRsdraNumber)</a>
                                }
                                else
                                {
                                    @Html.DisplayFor(model => model.Assessment.ParsedRsdraNumber)
                                }
                            }
                        </td>
                        <td id="rows">@Model.Assessment.PrimarySdocId</td>
                        <td>@Html.DisplayFor(model => model.Assessment.SourceDocumentName)</td>
                        <td>@Html.DisplayFor(model => model.Assessment.ReceiptDate)</td>
                        <td>@Html.DisplayFor(model => model.Assessment.SourceDocumentType)</td>
                        <td>@Html.DisplayFor(model => model.Assessment.Datum)</td>
                        <td>@Html.DisplayFor(model => model.Assessment.SourceNature)</td>
                        <td></td>
                    </tr>

                    @if (Model.LinkedDocuments != null)
                    {
                        foreach (var linkedDocument in Model.LinkedDocuments)
                        {
                            <tr class="collapse @(childRowsMarker)">
                                <td></td>
                                <td></td>
                                <td id="rows">@linkedDocument.LinkedSdocId</td>
                                <td>@Html.DisplayFor(model => linkedDocument.SourceDocumentName)</td>
                                <td>@Html.DisplayFor(model => linkedDocument.ReceiptDate)</td>
                                <td>@Html.DisplayFor(model => linkedDocument.SourceDocumentType)</td>
                                <td>@Html.DisplayFor(model => linkedDocument.Datum)</td>
                                <td>@Html.DisplayFor(model => linkedDocument.SourceNature)</td>
                                <td>
                                    @if (linkedDocument.Status == SourceDocumentRetrievalStatus.NotAttached.ToString())
                                    {
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-12 m-0 p-0">
                                                    <div class="attachLinkedDocumentButtonContainer float-right">
                                                        <a class="attachLinkedDocument" 
                                                                               data-linkedSdocId="@linkedDocument.LinkedSdocId" 
                                                                               data-processId="@Model.ProcessId" 
                                                                               data-correlationId="@Model.PrimaryDocumentStatus.CorrelationId" 
                                                                               style="cursor: pointer;">
                                                            <i class="fa fa-paperclip"></i>
                                                        </a>
                                                    </div>
                                                    <div class="attachLinkedDocumentSpinnerContainer">
                                                        <div class="float-left"><i class="fas fa-crosshairs fa-spin"></i></div>
                                                        <div class="float-right"><i class="fa fa-paperclip"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </td>
                            </tr>
                        }
                    }

                    @if (Model.AttachedLinkedDocuments != null)
                    {
                        foreach (var attachedLinkedDocument in Model.AttachedLinkedDocuments)
                        {
                            <tr>
                                <td></td>
                                <td>
                                    @{
                                        if (attachedLinkedDocument.Status == SourceDocumentRetrievalStatus.FileGenerated.ToString())
                                        {
                                            <a href="@attachedLinkedDocument.ContentServiceUri" target="_blank">@Html.DisplayFor(model => attachedLinkedDocument.ParsedRsdraNumber)</a>
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(model => attachedLinkedDocument.ParsedRsdraNumber)
                                        }
                                    }
                                </td>
                                <td id="rows">@Html.DisplayFor(model => attachedLinkedDocument.LinkedSdocId)</td>
                                <td>@Html.DisplayFor(model => attachedLinkedDocument.SourceDocumentName)</td>
                                <td>@Html.DisplayFor(model => attachedLinkedDocument.ReceiptDate)</td>
                                <td>@Html.DisplayFor(model => attachedLinkedDocument.SourceDocumentType)</td>
                                <td>@Html.DisplayFor(model => attachedLinkedDocument.Datum)</td>
                                <td>@Html.DisplayFor(model => attachedLinkedDocument.SourceNature)</td>
                                <td>
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-12 m-0 p-0">
                                                <div class="detachLinkedDocumentButtonContainer float-right">
                                                    <a class="detachLinkedDocument"
                                                                               data-linkedSdocId="@attachedLinkedDocument.LinkedSdocId" 
                                                                               data-processId="@Model.ProcessId" 
                                                                               style="cursor: pointer;" >
                                                                                <i class="fa fa-times-circle"></i>
                                                    </a>
                                                </div>
                                                <div class="detachLinkedDocumentSpinnerContainer">
                                                    <div class="float-left"><i class="fas fa-crosshairs fa-spin"></i></div>
                                                    <div class="float-right"><i class="fa fa-times-circle"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    }

                    @if (Model.DatabaseDocuments != null)
                    {
                        foreach (var databaseDocument in Model.DatabaseDocuments)
                        {
                            <tr>
                                <td></td>
                                <td>
                                    @{
                                        if (databaseDocument.Status == SourceDocumentRetrievalStatus.FileGenerated.ToString())
                                        {
                                            <a href="@databaseDocument.ContentServiceUri" target="_blank">@databaseDocument.ParsedRsdraNumber</a>
                                        }
                                        else
                                        {
                                            @databaseDocument.ParsedRsdraNumber
                                        }
                                    }

                                </td>
                                <td>@databaseDocument.SdocId</td>
                                <td>@databaseDocument.SourceDocumentName</td>
                                <td>@databaseDocument.ReceiptDate</td>
                                <td>@databaseDocument.SourceDocumentType</td>
                                <td>@databaseDocument.Datum</td>
                                <td>@databaseDocument.SourceNature</td>
                                <td>
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-12 m-0 p-0">
                                                <div class="detachDatabaseDocumentButtonContainer float-right">
                                                    <a class="detachDatabaseDocument" 
                                                                               data-sdocId="@databaseDocument.SdocId" 
                                                                               data-processId="@Model.ProcessId" 
                                                                               style="cursor: pointer;">
                                                        <i class="fa fa-times-circle"></i>
                                                    </a>
                                                </div>
                                                <div class="detachDatabaseDocumentSpinnerContainer">
                                                    <div class="float-left"><i class="fas fa-crosshairs fa-spin"></i></div>
                                                    <div class="float-right"><i class="fa fa-times-circle"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                        }
                    }
                }

            </tbody>
        </table>

        <div id="addDatabaseSourceDocument">
            <h5 id="sourceFromSdra">Add Source From SDRA</h5>
            <div class="row">
                <div class="col-3">
                    <div class="text-input-wrap">
                        <input id="txtSourceDocumentId" type="text" class="form-text-input" placeholder="SDOC ID" aria-labelledby="sourceFromSdra">
                    </div>
                </div>
                <div class="col-2">
                    <button id="btnSearchSource" class="btn btn-primary" type="button">
                        <span id="searchSourceSpinner" class="fas fa-crosshairs fa-spin" style="margin-right: 10px; display: none;"></span>
                        <span style="padding-right: 5px;"></span>Search
                    </button>
                </div>
            </div>
            <section class="dialog error collapse mt-3">
                <h5>
                    <i class="fas fa-times-circle" style="font-size: 1.25rem;"></i>
                    <span id="addSourceErrorMessage">Failed to load Source Documents</span>
                </h5>
            </section>

            <section class="dialog warning collapse mt-3">
                <h5>
                    <i class="fas fa-times-circle" style="font-size: 1.25rem;"></i>
                    <span id="addSourceWarningMessage">Failed to load Source Documents</span>
                </h5>
            </section>

            <section class="dialog success collapse mt-3">
                <h5>
                    <i class="fas fa-check-circle" style="font-size: 1.25rem;"></i>
                    The following source information was found
                </h5>
                <div class="row">
                    <div class="col-5">
                        <label>Name</label>
                        <div id="addSourceName">asdasdasda</div>
                    </div>
                    <div class="col-2">
                        <label>ID</label>
                        <div id="addSourceSdocId">21323323</div>
                    </div>
                    <div class="col-3">
                        <label>Doc Type</label>
                        <div id="addSourceDocType">Thing</div>
                    </div>
                    <div class="col-2">
                        <button id="btnAddSource" class="btn btn-primary" type="button" data-correlationId="@Model.PrimaryDocumentStatus.CorrelationId"><span style="padding-right: 5px;"></span>Add Source</button>
                    </div>
                </div>
            </section>
        </div>

    </div>
</div>
