@model Portal.Pages.DbAssessment._TaskInformationModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="panel panel-default">
    <div class="panel-heading">
        <span>Task Information</span>
    </div>

    <div class="panel-body">
        @Html.LabelFor(model => model.ProcessId)
        @Html.DisplayFor(model => model.ProcessId)

        @Html.LabelFor(model => model.DmEndDate)
        @Html.DisplayFor(model => model.DmEndDate)

        @Html.LabelFor(model => model.DmReceiptDate)
        @Html.DisplayFor(model => model.DmReceiptDate)

        @Html.LabelFor(model => model.EffectiveReceiptDate)
        @Html.DisplayFor(model => model.EffectiveReceiptDate)

        @Html.LabelFor(model => model.ExternalEndDate)
        @Html.DisplayFor(model => model.ExternalEndDate)

        @Html.LabelFor(model => model.OnHold)
        @Html.DisplayFor(model => model.OnHold)

        @Html.LabelFor(model => model.Ion)
        @Html.EditorFor(model => model.Ion)

        @Html.LabelFor(model => model.ActivityCode)
        @Html.DisplayFor(model => model.ActivityCode)

        @Html.DisplayFor(model => model.SourceCategory)
        @Html.DisplayFor(model => model.SourceCategories)

        @Html.DropDownListFor(model => model.SourceCategory, Model.SourceCategories)
    </div>
</div>