@page
@model Portal.Pages.DbAssessment.HistoricalTasksModel
@{
    ViewData["Title"] = "Historical Tasks";
}

<div class="row mt-1">
    <div class="col-4">
        <a asp-page="/Index">
            <img id="ukhoLogo" src="~/images/ukhologo.svg" class="img-responsive" alt="UKHO Logo" />
        </a>
    </div>

    <div class="col-8">
        <div class="row pt-2">
            <div class="col-6">
                <div class="float-right">
                    <h1>Database Assessment</h1>
                </div>
            </div>
            <div class="col-6">
                <div class="float-right">
                    <h1>Historical Tasks</h1>
                </div>
            </div>
        </div>
    </div>

</div>

<hr />
<div class="col-12">
    <div class="row justify-content-end btn-size">
        <div class="col-2"><input id="btnClose" type="button" class="btn btn-primary btn-block" value="Close" onclick="window.location.href = '/Index'" /></div>
    </div>
</div>

<div class="card mb-4 mt-3">
    <h6>Search</h6>
    <div class="col-12">
        <div class="card-body pb-0 pt-0">
            <div class="row">
                <div class="col-6 col-lg-6">
                    <div class="form-row justify-content-between">
                        <div class="col-4">@Html.LabelFor(model => model.SearchParameters.ProcessId, new { @class = "col-form-label" })</div>
                        <div class="col-7">@Html.TextBoxFor(model => model.SearchParameters.ProcessId, new { @class = "form-control assignTaskAssessor" })</div>
                    </div>
                    <div class="form-row justify-content-between">
                        <div class="col-4">@Html.LabelFor(model => model.SearchParameters.SourceDocumentId, new { @class = "col-form-label" })</div>
                        <div class="col-7">@Html.TextBoxFor(model => model.SearchParameters.SourceDocumentId, new { @class = "form-control assignTaskAssessor" })</div>
                    </div>
                    <div class="form-row justify-content-between">
                        <div class="col-4">@Html.LabelFor(model => model.SearchParameters.RsdraNumber, new { @class = "col-form-label" })</div>
                        <div class="col-7">@Html.TextBoxFor(model => model.SearchParameters.RsdraNumber, new { @class = "form-control assignTaskAssessor" })</div>
                    </div>
                    <div class="form-row justify-content-between">
                        <div class="col-4">@Html.LabelFor(model => model.SearchParameters.SourceDocumentName, new { @class = "col-form-label" })</div>
                        <div class="col-7">@Html.TextBoxFor(model => model.SearchParameters.SourceDocumentName, new { @class = "form-control assignTaskAssessor" })</div>
                    </div>
                </div>
                <div class="col-6 col-lg-6 d-flex flex-column">
                    <div class="form-row flex-grow-1 d-flex flex-column">
                        <div class="form-row justify-content-between">
                            <div class="col-4">@Html.LabelFor(model => model.SearchParameters.Reviewer, new { @class = "col-form-label" })</div>
                            <div class="col-7">@Html.TextBoxFor(model => model.SearchParameters.Reviewer, new { @class = "form-control assignTaskAssessor" })</div>
                        </div>
                        <div class="form-row justify-content-between">
                            <div class="col-4">@Html.LabelFor(model => model.SearchParameters.Assessor, new { @class = "col-form-label" })</div>
                            <div class="col-7">@Html.TextBoxFor(model => model.SearchParameters.Assessor, new { @class = "form-control assignTaskAssessor" })</div>
                        </div>
                        <div class="form-row justify-content-between">
                            <div class="col-4">@Html.LabelFor(model => model.SearchParameters.Verifier, new { @class = "col-form-label" })</div>
                            <div class="col-7">@Html.TextBoxFor(model => model.SearchParameters.Verifier, new { @class = "form-control assignTaskAssessor" })</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
