@page
@using DbUpdatePortal.Enums
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script type="text/javascript" src="~/js/Index.js" asp-append-version="true"></script>

<div class="row pt-1">
    <div class="col-4">
        <a asp-page="./Index">
            <img id="ukhoLogo" src="images/ukhologo.svg" alt="UKHO Logo" />
        </a>
    </div>

    <div class="col-8">
        <div class="row mb-2">
            <div id="menuItemList" class="col-10">
                <button id="btnMyTaskList" class="btn btn-primary">My Task List</button>
                <button id="btnTeamTasks" class="btn btn-primary">Team Tasks</button>
                <button id="btnStats" class="btn btn-primary">Statistics</button>
                <button id="btnHistoricalTasks" class="btn btn-primary">Historical Tasks</button>
                <span class="ml-3" id="userFullName">Hello <strong>@Model.CurrentUser.DisplayName</strong></span>
            </div>
            <div class="col-2">
                <button id="btnNewTask" class="btn btn-primary">New Task</button>
            </div>
        </div>
        <div class="row">
            <div class="col-6 pr-0">
                <input id="txtGlobalSearch" type="search" class="form-text-input" placeholder="Type search term..." aria-label="Search text for tasks" title="Search text for tasks" />
            </div>
        </div>
    </div>
</div>

<h3>Database Update</h3>

<div class="card mb-4 mt-3">
    <h3>My Tasks</h3>
    <div class="card-body" style="width: 100%">
        <table id="inFlightTasks" class="table-striped" style="width: 100%">
            <thead>
                <tr>
                    <th><span class="screen-reader-only">Task Notes</span></th>
                    <th>Process ID</th>
                    <th style="min-width: 5.0rem;">Task Name</th>
                    <th>User</th>
                    <th style="min-width: 5.9rem;">Stage</th>
                    <th style="min-width: 5.9rem;">Update Type</th>
                    <th style="min-width: 5.9rem;">Target Date</th>
                    <th style="min-width: 5.9rem;">Charting Area</th>
                    <th><span class="screen-reader-only">Assign Tasks</span></th>
                    <th><span class="screen-reader-only">Edit Task Notes</span></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var task in Model.DbUpdateTasks.Where(t => t.Status == DbUpdateTaskStatus.InProgress.ToString()))
                {
                    <tr>
                        <td class="details-control"><i class="fa"></i></td>
                        <td>
                            <a asp-page="Workflow" asp-route-ProcessId="@task.ProcessId">@task.ProcessId</a>
                        </td>
                        <td>
                            @task.Assigned.DisplayName
                        </td>
                        <td>
                            @task.CurrentStage
                        </td>
                        <td>
                            @task.UpdateType
                        </td>
                        <td>
                            @task.TargetDate?.ToShortDateString()
                        </td>
                        <td>
                            @task.ChartingArea
                        </td>
                        <td>
                            <div data-toggle="tooltip" data-placement="top" title="Assign Task">
                                <a class="assignTaskItem pr-1" data-processid="@task.ProcessId" data-taskstage="@task.TaskStage" aria-label="Assign Task" href="#" style="cursor: pointer;">
                                    <i class="far fa-user"></i>
                                </a>
                            </div>
                        </td>
                        <td>
                            <div data-toggle="tooltip" data-placement="top" title="Task Notes">
                                <a class="taskNoteItem pr-1" data-processid="@task.ProcessId" data-tasknote="@task.TaskNote" aria-label="Edit Task Note" href="#" style="cursor: pointer;">
                                    <i class="far fa-edit"></i>
                                </a>
                            </div>
                        </td>
                        <td>
                            @task.TaskNote?.Text
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="card mb-4 mt-3" id="assignedTasksTable">
    <h3>Associated Tasks</h3>
    <div class="card-body" style="width: 100%">
        <table id="assignedTasks" class="table-striped" style="width: 100%">
            <thead>
                <tr>
                    <th>Process ID</th>
                    <th style="min-width: 5.0rem;">Task Name</th>
                    <th style="max-width: 4.0rem;">Update Type</th>
                    <th style="min-width: 3.9rem;">Charting Area</th>
                    <th style="min-width: 5.9rem;">Compiler</th>
                    <th style="min-width: 5.9rem;">Verifier</th>
                    <th style="max-width: 4.0rem;">Last Update</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var task in Model.DbUpdateTasks.Where(t => t.Status == DbUpdateTaskStatus.InProgress.ToString()
                                             &&
                                             (t.TaskRole.Verifier.DisplayName == Model.CurrentUser.DisplayName
      || t.TaskRole.Compiler.DisplayName == Model.CurrentUser.DisplayName)))
                {
                    <tr>
                        <td>
                            <a asp-page="Workflow" asp-route-ProcessId="@task.ProcessId">@task.ProcessId</a>
                        </td>
                        <td>
                            @task.Name
                        </td>
                        <td>
                            @task.UpdateType
                        </td>
                        <td>
                            @task.ChartingArea
                        </td>
                        <td>
                            @task.TaskRole.Compiler
                        </td>
                        <td>
                            @task.TaskRole.Verifier
                        </td>
                        <td>
                            @task.StatusChangeDate
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>