@page
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using NCNEPortal.Enums
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script type="text/javascript" src="~/js/Index.js"></script>

<div class="row pt-1">
    <div class="col-4">
        <a asp-page="./Index">
            <img id="ukhoLogo" src="images/ukhologo.svg" alt="UKHO Logo" />
        </a>
    </div>

    <div class="col-8">
        <div class="row mb-2">
            <div class="col-10">
                <button id="btnMyTaskList" class="btn btn-primary">My Task List</button>
                <button id="btnTeamTasks" class="btn btn-primary">Team Tasks</button>
                <button id="btnStats" class="btn btn-primary">Statistics</button>
                <button id="btnHistorical" class="btn btn-primary">Historical Tasks</button>
                <span class="ml-3" id="userFullName">Hello <strong>@Model.UserFullName</strong></span>
            </div>
            <div class="col-2">
                <button id="btnNewTask" class="btn btn-primary">New Task</button>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-6 pr-0">
                <input id="txtGlobalSearch" type="search" class="form-text-input" placeholder="Type search term..." aria-label="Search text for tasks" title="Search text for tasks" />
            </div>
            <div class="col-6">
                <button id="btnRefresh" type="button" class="btn btn-primary" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="Refresh the task lists, preserving selected sort options and search criteria." aria-label="Refresh the task lists, preserving selected sort options and search criteria."><span class="fas fa-sync-alt"></span></button>
                <!-- <button class="btn btn-primary dropdown" type="button" id="btnSelectStage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Select Stage</button>
                <button class="btn btn-primary dropdown" type="button" id="btnSelectTeam" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Select Team</button> -->
            </div>
        </div>
    </div>
</div>


<div class="card mb-4 mt-3">
    <h3>In Flight Tasks</h3>
    <div class="card-body" style="width: 100%">
        <table id="inFlightTasks" class="table-striped" style="width: 100%">
            <thead>
                <tr>
                    <th></th>
                    <th>Process ID</th>
                    <th style="min-width: 3.6rem;">Type</th>
                    <th style="min-width: 5.0rem;">Chart Number</th>
                    <th style="min-width: 3.9rem;">Status</th>
                    <th>User</th>
                    <th style="min-width: 5.5rem;">Forms</th>
                    <th style="min-width: 5.5rem;">Commit to Print</th>
                    <th style="min-width: 5.5rem;">CIS</th>
                    <th style="min-width: 5.5rem;">Publication</thstyle="min-width:>
                    <th>Country</th>
                    <th>Workflow Type</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var task in Model.NcneTasks.Where(t => t.Status == NcneTaskStatus.InProgress.ToString()))
                {
                    <tr>
                        <td class="details-control"><i class="fa"></i></td>
                        <td>
                            <a asp-page="Workflow" asp-route-ProcessId="@task.ProcessId">@task.ProcessId</a>
                        </td>
                        <td>
                            @task.ChartType
                        </td>
                        <td>
                            @task.ChartNumber
                        </td>
                        <td>
                            Comp
                        </td>
                        <td>
                            @task.AssignedUser
                        </td>
                        <td>
                            @task.AnnounceDate?.ToShortDateString()
                            @switch ((task.FormDateStatus))
                            {
                                case (int)ncneDateStatus.Green:
                                    {
                                        <i class="fa fa-circle" style=color:green></i>
                                        break;
                                    }
                                case (int)ncneDateStatus.Amber:
                                    {
                                        <i class="fa fa-circle" style=color:darkorange></i>
                                        <i class="fa fa-circle" style=color:darkorange></i>
                                        break;
                                    }
                                case (int)ncneDateStatus.Red:
                                    {
                                        <i class="fa fa-circle" style=color:red></i>
                                        <i class="fa fa-circle" style=color:red></i>
                                        <i class="fa fa-circle" style=color:red></i>
                                        break;
                                    }
                            }
                        </td>
                        <td>
                            @task.CommitDate?.ToShortDateString()
                            @switch ((task.CommitDateStatus))
                            {
                                case (int)ncneDateStatus.Green:
                                    {
                                        <i class="fa fa-circle" style=color:green></i>
                                        break;
                                    }
                                case (int)ncneDateStatus.Amber:
                                    {
                                        <i class="fa fa-circle" style=color:darkorange></i>
                                        <i class="fa fa-circle" style=color:darkorange></i>
                                        break;
                                    }
                                case (int)ncneDateStatus.Red:
                                    {
                                        <i class="fa fa-circle" style=color:red></i>
                                        <i class="fa fa-circle" style=color:red></i>
                                        <i class="fa fa-circle" style=color:red></i>
                                        break;
                                    }
                            }

                        </td>
                        <td>
                            @task.CisDate?.ToShortDateString()
                            @switch ((task.CisDateStatus))
                            {
                                case (int)ncneDateStatus.Green:
                                    {
                                        <i class="fa fa-circle" style=color:green></i>
                                        break;
                                    }
                                case (int)ncneDateStatus.Amber:
                                    {
                                        <i class="fa fa-circle" style=color:darkorange></i>
                                        <i class="fa fa-circle" style=color:darkorange></i>
                                        break;
                                    }
                                case (int)ncneDateStatus.Red:
                                    {
                                        <i class="fa fa-circle" style=color:red></i>
                                        <i class="fa fa-circle" style=color:red></i>
                                        <i class="fa fa-circle" style=color:red></i>
                                        break;
                                    }
                            }

                        </td>
                        <td>
                            @task.PublicationDate?.ToShortDateString()
                            @switch ((task.PublishDateStatus))
                            {
                                case (int)ncneDateStatus.Green:
                                    {
                                        <i class="fa fa-circle" style=color:green></i>
                                        break;
                                    }
                                case (int)ncneDateStatus.Amber:
                                    {
                                        <i class="fa fa-circle" style=color:darkorange></i>
                                        <i class="fa fa-circle" style=color:darkorange></i>
                                        break;
                                    }
                                case (int)ncneDateStatus.Red:
                                    {
                                        <i class="fa fa-circle" style=color:red></i>
                                        <i class="fa fa-circle" style=color:red></i>
                                        <i class="fa fa-circle" style=color:red></i>
                                        break;
                                    }
                            }

                        </td>
                        <td>
                            @task.Country
                        </td>
                        <td>
                            @task.WorkflowType
                        </td>
                        <td>
                            <div class="dropdown" style="cursor: pointer;">
                                <i class="fas fa-cog black" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown"></i>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item taskNoteItem" data-processid="@task.ProcessId" data-tasknote="@task.TaskNote?.Text">
                                        <i class="far fa-edit">
                                        </i>
                                        Edit Task Note
                                    </a>
                                    <a class="dropdown-item assignTaskItem" data-processid="@task.ProcessId" data-taskstage="@task.ChartType">
                                        <i class="far fa-user">
                                        </i>
                                        Assign Task
                                    </a>
                                </div>
                            </div>
                        </td>
                        <td>
                            @task.TaskNote?.Text
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@* Modal Edit task note *@
<div class="modal fade" id="editTaskNoteModal" tabindex="-1" role="dialog" aria-labelledby="EditTaskNote" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" id="frmTaskNote" asp-page-handler="TaskNote">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Task Note</h4>
                </div>
                <div class="modal-body">
                    <div id="modal-body">
                        <textarea style="height: 100px;" maxlength="4000" id="txtNote" name="taskNote" class="form-control"></textarea>
                        <input type="hidden" id="hdnProcessId" name="processId" />
                        <br />
                        <div id="editTaskNoteError"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnClearTaskNote" class="btn btn-outline-secondary mr-auto pl-4 pr-4" accesskey="a" data-toggle="tooltip" data-placement="left" title="Clear">Clear</button>
                    <button type="button" id="btnCancelTaskNote" class="btn btn-outline-secondary pl-4 pr-4" accesskey="c" data-dismiss="modal" data-toggle="tooltip" data-placement="left" title="Cancel & close this popup">Cancel</button>
                    <button type="submit" form="frmTaskNote" id="btnPostTaskNote" class="btn btn-primary pl-4 pr-4" accesskey="a" data-toggle="tooltip" data-placement="left" title="Save Task Note">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

@* Modal Assign task to user *@
<div class="modal fade" id="assignTaskModal" tabindex="-1" role="dialog" aria-labelledby="AssignTaskToUser" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Assign Task</h4>
            </div>
            <div class="modal-body">
                <div id="assignTaskModal-body">
                    <div id="assignTaskTypeahead">
                        <div class="text-input-wrap">
                            <input id="txtUsername" type="text" class="typeahead tt-query form-text-input" autocomplete="off" spellcheck="false">
                        </div>
                        <section class="dialog error collapse mt-3" id="assignTaskTypeaheadError">
                            <h5>
                                <i class="fas fa-times-circle" style="font-size: 1.25rem;"></i>
                                <span id="assignTaskErrorMsg">Failed to look up users</span>
                            </h5>
                        </section>
                    </div>
                    <input type="hidden" id="hdnAssignTaskProcessId" name="processId" />
                    <input type="hidden" id="hdnAssignTaskStage" name="taskStage" />
                    <br />
                    <div id="AssignTaskError"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCancelAssignTask" class="btn btn-outline-secondary pl-4 pr-4" accesskey="c" data-dismiss="modal" data-toggle="tooltip" data-placement="left" title="Cancel & close this popup">Cancel</button>
                <button type="button" id="btnAssignTaskToUser" class="btn btn-primary pl-4 pr-4" accesskey="a" data-toggle="tooltip" data-placement="left" title="Assign to User">Ok</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {

    <script>
        $(document).ready(function () {
            var inFlightTasksTable = $('#inFlightTasks').DataTable({
                "pageLength": 10,
                "lengthMenu": [10, 15, 20, 25],
                'sDom': 'ltipr',
                'autoWidth': true,
                'columnDefs': [
                    {
                        'targets': [0],
                        'orderable': false,
                        'searchable': false
                    },
                    {
                        'targets': [12],
                        'orderable': false,
                        'searchable': false
                    },
                    {
                        'targets': [13],
                        'visible': false,
                        'searchable': false
                    }
                ],
                "order": [[1, 'asc']],
                "scrollX": true,
                "createdRow": function (row, data, dataIndex) {
                    if (data[13] === "") {
                        $("td.details-control", row).removeClass("details-control");
                        $("td.details-control i", row).removeClass("fa");
                    }
                }
            });

            function format(data) {
                return '<span class="note-formatting">' + data[14] + '</span>';
            }

            $('#inFlightTasks tbody').on('click',
                'td.details-control i',
                function () {

                    var tr = $(this).closest('tr');
                    var row = inFlightTasksTable.row(tr);

                    if (row.child.isShown()) {
                        row.child.hide();
                        tr.removeClass('shown');
                    } else {
                        row.child(format(row.data()), 'no-padding').show();
                        tr.addClass('shown');
                    }
                });

            $('#txtGlobalSearch').keyup(function () {
                inFlightTasksTable.search($(this).val()).draw();
            });

            $("#btnNewTask").click(function () { window.location.href = '/NewTask'; });
        });
    </script>
}
