@page
@using System.Net.Mime
@using Microsoft.CodeAnalysis
@model NCNEPortal.NewTaskModel
@{
    ViewData["Title"] = "New Chart/New Edition New Task";
}

<div class="row pt-1 ">
    <div class="col-4">
        <a asp-page="./Index">
            <img id="ukhoLogo" src="images/ukhologo.svg" alt="UKHO Logo" />
        </a>
    </div>
    <div class="col-4">
        <h1>New Chart/New Edition</h1>
    </div>
    <div class="col-4">
        <h1>New Task</h1>
    </div>
</div>
<div class="col-12">
    <div class="row justify-content-end btn-size">
        <div class="col-2"><button id="btnClose" class="btn btn-primary btn-block">Close</button></div>
        <div class="col-2"> <button id="btnDone" class="btn btn-primary btn-block">Done</button> </div>
    </div>
</div>

<!--<div id="taskInformation"></div> -->
<div class="table">
    <div class="card mb-4 mt-3">
        <h6>Task Information</h6>
        <div class="col-12">
            <div class="card-body pb-0">

                <div class="row justify-content-between">
                    <div class="col-4">
                        <div class="form-group row justify-content-between">
                            <div class="col-6">@Html.LabelFor(model => model.Ion)</div>
                            <div class="col-6">@Html.DisplayFor(model => model.Ion)</div>
                        </div>
                        <div class="form-group row justify-content-between">
                            <div class="col-6">@Html.LabelFor(model => model.ChartNo)</div>
                            <div class="col-6">@Html.DisplayFor(model => model.ChartNo)</div>
                        </div>
                        <div class="form-group row justify-content-between">
                            <div class="col-6">@Html.LabelFor(model => model.Country)</div>
                            <div class="col-6">@Html.DisplayFor(model => model.Country)</div>
                        </div>

                        <div class="form-group row justify-content-between">
                            <div class="col-6">@Html.LabelFor(model => model.ChartType, new { @class = "col-form-label" })</div>
                            <div class="col-6">@Html.DropDownListFor(model => model.ChartType, Model.ChartTypes, "", new { @class = "form-control" })</div>
                        </div>

                        <div class="form-group row justify-content-between">
                            <div class="col-6">@Html.LabelFor(model => model.WorkflowType, new { @class = "col-form-label" })</div>
                            <div class="col-6">@Html.DropDownListFor(model => model.WorkflowType, Model.WorkflowTypes, "", new { @class = "form-control" })</div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group row justify-content-between">
                            <div class="col-6">@Html.LabelFor(model => model.Dating, new { @class = "col-form-label" })</div>
                            <div class="col-6">
                                @Html.DropDownList("Dating", new List<SelectListItem>
                                {
                                    new SelectListItem("2 Week", "1"),
                                    new SelectListItem("3 Week", "0")
                                }
                                   , "", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group row justify-content-between">
                            <div class="col-6">@Html.LabelFor(model => model.PublicationDate)</div>
                            <div class="col-6">@Html.TextBoxFor(model => model.PublicationDate, new { @class = "form-control" })</div>
                        </div>

                        <div class="form-group row justify-content-between">
                            <div class="col-6">@Html.LabelFor(model => model.AnnounceDate)</div>
                            <div class="col-6">@Html.DisplayFor(model => model.AnnounceDate)</div>
                        </div>

                        <div class="form-group row justify-content-between">
                            <div class="col-6">@Html.LabelFor(model => model.CommitToPrintDate)</div>
                            <div class="col-6">@Html.DisplayFor(model => model.CommitToPrintDate)</div>
                        </div>

                        <div class="form-group row justify-content-between">
                            <div class="col-6">@Html.LabelFor(model => model.CISDate)</div>
                            <div class="col-6">@Html.DisplayFor(model => model.CISDate)</div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group row justify-content-between">
                            <div class="col-6">@Html.LabelFor(model => model.Compiler, new { @class = "col-form-label" })</div>
                            <div class="col-6">@Html.DropDownListFor(model => model.Compiler, Model.CompilerList, "", new { @class = "form-control" })</div>
                        </div>
                        <div class="form-group row justify-content-between">
                            <div class="col-6">@Html.LabelFor(model => model.Verifier1, new { @class = "col-form-label" })</div>
                            <div class="col-6">@Html.DropDownListFor(model => model.Verifier1, Model.VerifierList1, "", new { @class = "form-control" })</div>
                        </div>
                        <div class="form-group row justify-content-between">
                            <div class="col-6">@Html.LabelFor(model => model.Verifier2, new { @class = "col-form-label" })</div>
                            <div class="col-6">@Html.DropDownListFor(model => model.Verifier2, Model.VerifierList2, "", new { @class = "form-control" })</div>
                        </div>
                        <div class="form-group row justify-content-between">
                            <div class="col-6">@Html.LabelFor(model => model.Publisher, new { @class = "col-form-label" })</div>
                            <div class="col-6">@Html.DropDownListFor(model => model.Publisher, Model.PublisherList, "", new { @class = "form-control" })</div>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script src="js/NewTask.js">
    </script>
}